.onlineCheckSection {
    text-align: left;
    margin-top: 5%;
    /* width: 397px; */

}
.h1-1 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
}

.button {
    border-radius: 18px;
    border: none;
    padding: 0.6em 1.2em;
    color: white;
    background-color: #5e889e;
    cursor: pointer;
    width: 385px;
    height: 61px;
    transition: all 0.3s ease;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    font-style: medium;
}

.button:hover {
    animation: ease 1s;
    scale: 1.1;
    border: none;
}